:root {
    font-size: 24px;
    --bg-color: #E6FFF1;
    --bg-color-2: #F8FEFA;
    --border-color: #4B7F52;
}

@media (min-width: 600px) {
    :root {
        font-size: 36px;
    }
}


body {
    color: #3a3a3a;
    background: var(--bg-color);
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 0px 20px 1rem;
}

.container {
    position: relative;
    background: var(--bg-color-2);
    max-width: 1000px;
    height: 500px;
    margin: 2rem auto;    
    border: solid var(--border-color) 1px;
    border-radius: 5px;
    padding: 0.5rem;
    text-align: center;
}


.password-box {
    background: white;
    color: #002A00;
    border: solid var(--border-color) 1px;
    border-radius: 5px;
    padding:  0.5em;
    margin: 2rem 1em;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}
@media (min-width: 600px) {
    .password-box {
        font-size: 1rem;
    }
}

.password-box > p {
    margin: 0.1em;
} 

a {
    cursor: pointer;
}

a.button {
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
    background: #96E8BC;
    color: #002A00;
    border: solid var(--border-color) 1px;
    border-radius: 5px;
    font-weight: bold;
    width:8rem;
    padding: 0.5em;
    margin: 0 auto 1rem;
    user-select: none;
    /* font-weight: bold; */
}

@media (min-width: 600px) {
    a.button {
        font-size: 1rem;
    }
}

a.button:hover {
    background: #c6ffd4;
}